@model AjAM_seminarski.ViewModel.CarCommentViewModel

@{ ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@{ var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }

    var totalRating = decimal.Parse(rating.ToString()); }
<section class="ftco-section ftco-car-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="car-details">
                    <div class="fotorama rounded-lg mt-2 mb-1 " data-width="100%" data-nav="thumbs">
                        @for (int i = 0; i < Model.CarFeatures.Pictures.Count; i++)
                        {
                    <img class="rounded" src="@Model.CarFeatures.Pictures[i].Url">;
                }
                    </div>
                    <div class="text text-center">
                        <h2>@Model.CarFeatures.CarName</h2>
                        <span class="p-3 mb-2 ml-2 bg-light rounded-pill text-primary font-weight-bold">@Model.CarFeatures.Price<span>KM</span></span>
                        <span class="p-3 mb-2 ml-2 bg-light rounded-pill text-primary font-weight-bold">@Model.CarFeatures.Category.Name</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">

                    @foreach (var c in Model.ListOfComments)
                    {
        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <i>@c.PublishedDate.ToString("dd.MM.yyyy")</i>
                                <div class="commentStarsBox">
                                    @{ int gray = 5 - c.Rating;
                                                        for (int i = 1; i <= c.Rating; i++)
                                                        {
                                        <div class="starGlowN"></div> }

                                                        for (int j = 0; j < gray; j++)
                                                        {
                                        <div class="starFadeN"></div> } }

                                </div>
                            </div>

                            <div class="col-md-9">
                                @Html.Raw(c.Comments.Replace("\n", "<br />"))
                            </div>
                        </div>}
                    <hr />
                    <partial name="_CommentBox" />
                </div>
            </div>
        </div>
    </div>
    </div>
</section>