@using AjAM_seminarski.ViewModel;
@{
    ViewData["Title"] = "Home page";
    string success = (string)ViewData["success"];
}
@model CarsRentViewModel

    @if(success != null)
    {

    <div class="container">
    <div class="alert @(success != "success" ? "alert-danger" : "alert-success") alert-dismissible fade show"  role="alert">
        <h4 class="alert-heading">@(success != "success" ? "Car is not reserved!" : "Car reserved!")</h4>
        <p>
            @(success != "success" ? success : "Wait for our team allow your reservation!")
            
        </p>
        <hr>
        <p class="mb-0">
            @(success != "success" ? "" : "Renting process should not take long. When your reservation go trough you will be notified, and contract would be sent to you.")
        </p>
    </div>
    </div>

    }

<div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container p-0">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
                    
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    select option {color:black;}
</style>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container ">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <div  class="request-form ftco-animate bg-primary col-lg-10">
                            @using (Html.BeginForm ("Add", "Rent", FormMethod.Post))
                            {

                            <h2>Make your trip</h2>
                            
                            <div class="d-flex flex-column">
                                <div class="form-group ">
                                    <label asp-for="@Model.Rent.fromDate" class="label"></label>
                                    <input type="date" class="form-control" id="datepicker2" asp-for="@Model.Rent.fromDate" placeholder="Date">
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Rent.ToDate" class="label"></label>
                                    <input type="date" class="form-control" id="datepicker" asp-for="@Model.Rent.ToDate" placeholder="Date">
                                </div>

                                <div class="form-group ">
                                    <label asp-for="Cars" class="label"></label>
                                    <select class="form-control" asp-for="@Model.Rent.CarId" asp-items="@Model.Rent.Cars" style="color:blue">
                                        <option value="0" selected>Pick car for rent...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary py-3 px-4" @(!User.Identity.IsAuthenticated ? "disabled" : "" )>@(!User.Identity.IsAuthenticated ? "Login first" : "Rent")</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">What we offer</span>
                <h2 class="mb-2">Cars</h2>
                <a href="CarsList/Index" class="btn btn-primary py-2 mr-1">View More</a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    @foreach(var item in Model.Cars) {
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                                @for (int i = 0; i < item.Pictures.Count; i++)
                                {
                            <img class="rounded" src="@item.Pictures[i].Url">;
                        }
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">@item.Name</a></h2>
                                <div class="d-flex mb-3">
                                    <p class="price ml-auto">@item.Price <span>/day</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="/CarsList/Details/?id=@item.Id" class="btn btn-secondary py-2 ml-1">Details</a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

<script>
    $(document).ready(function () {
        $('#datepicker').val(new Date());
        $('#datepicker2').val(new Date());
    $('.alert').alert()
    });

</script>